* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html {
    font-size: 100px;
}
body {
    font-size: .12rem;
    margin: 0;
    padding:0;
    overflow:hidden;
}